@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.logo {
  width: 5%;
}

body {
  font-family:"super nova",cursive;
  font-family: 'Source Sans Pro', sans-serif;
  
  font-size: 30px;
  font-style: italic;
  background-image: linear-gradient(
    295deg,
    hsl(277deg 46% 12%) 0%,
    hsl(277deg 45% 12%) 0%,
    hsl(277deg 45% 12%) 2%,
    hsl(276deg 44% 12%) 4%,
    hsl(276deg 43% 12%) 8%,
    hsl(276deg 43% 12%) 13%,
    hsl(276deg 42% 11%) 20%,
    hsl(275deg 42% 11%) 29%,
    hsl(275deg 41% 11%) 40%,
    hsl(275deg 40% 11%) 51%,
    hsl(275deg 40% 11%) 61%,
    hsl(274deg 39% 11%) 70%,
    hsl(274deg 38% 10%) 77%,
    hsl(274deg 38% 10%) 83%,
    hsl(274deg 37% 10%) 88%,
    hsl(273deg 37% 10%) 92%,
    hsl(273deg 36% 10%) 94%,
    hsl(273deg 36% 10%) 97%,
    hsl(273deg 35% 9%) 98%,
    hsl(272deg 34% 9%) 99%,
    hsl(272deg 34% 9%) 100%,
    hsl(272deg 33% 9%) 100%
  );
}
.back_balls {
  background-image: radial-gradient(#bbbbbb 20%, transparent 20%);
  /* background-color: #e53935; */
  background-position: 0 0, 10px 10px;
  background-size: 50px 50px;
  margin-top: -100px;
}
.middle {
  position: relative;
  background-color: rgb(168, 41, 41);
  padding: 140px;
  margin: 200px;
}

img {
  width: 98%;
  border-radius: 5%;
  border: 2px solid blue;
}

img:hover {
  box-sizing: border-box;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  color: #31e1f7;
}

#Contribution {
  background-color: black;
  color: rgb(125, 122, 122);
}

.vishaaal {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  
}

.you {
  font-size: 20px;
  font-style: italic;
}

.Vishal {
  color: #31e1f7;
}

.you {
  font-size: 30px;
}

.gaurav {
  color: white;
}

.anikkkkettt {
  background-color: white;
  color: black;
}

.yash {
  color: blue;
}
.Abhishek {
  color: green;
}

.logo {
  width: 5%;
}

body {
  font-family: "Nova Square", cursive;
  font-size: 30px;
}

.middle {
  position: relative;
  background-color: black;
  padding: 140px;
  border-radius: 100px;
}

img {
  width: 98%;
  border-radius: 5%;
}

img:hover {
  box-sizing: border-box;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

#Contribution {
  background-color: black;
  color: #fff;
}

.you {
  font-size: 20px;
}

.Vishal {
  color: #31e1f7;

  color: #31e1f7;
}

.you {
  font-size: 30px;
}

.gaurav {
  color: white;
}

.anikkkkettt {
  background-color: white;
  color: black;
}

.yash {
  color: blue;
}

.container h2 {
  font-weight: 100;
  text-decoration: underline;
  font-style: bold;
}
.akshay {
  color: violet;
}

.Prathamesh Adinawar {
  color: Black;
}

.Shreya {
  color: #6000c0;
  font-style: bold;
}

.Soham {
  color: aquamarine;
  font-style: bold;
}

.rahul {
  font-family: "Oxygen Mono";
  font-size: 40px;
}

.average {
  font-family: "Oxygen Mono";
  font-size: 40px;
}

.souptik {
  font-family: "Oxygen Mono";
  font-size: 40px;
}
.Ayesha {
  background-color: rgb(198, 31, 156);
  color: aqua;
  border-radius: 15px;
  padding: 20px 10px;
  margin: 20px 10px;
}
.Sapna {
  background-color: rgb(221, 160, 221);
  color: #4b0082;
  font-style: bold;
  text-decoration: underline;
}

.YashRajSingh{
  color: red;
  font-family: "Oxygen Mono";
  font-size: 45px;
 }

 .sudhanshu {
  color: crimson;
  font-size: medium;
}

.anurag{
  color: #16C1D8;
  font-size: 48px;
}